.TCGData-select {
    background-color: darkslategrey;
}

.TCGData-ul {
    list-style-type: none;
}

.TCGData-set-list-display {
    color: black;
    background-color: dimgray;
}

.TCGData-num-list-display {
    color: black;
    background-color: dimgray;
}

.TCGData-rarity-list-display {
    color: black;
    background-color: dimgray;
}

.TCGData-url-list-display {
    color: black;
    background-color: dimgray;
}

.TCGData-form-block {
    text-align: center;
    margin-left: 10%;
    width: 80%;
    color: black;
    background-color: darkslategrey;
}

.TCGData-table {
    width: 76%;
    margin-left: 12%;
    background-color: rgb(53, 53, 53)
}