.SetData-table {
    background-color: rgb(43, 43, 43);
}

.SetData-table a:link, a:visited {
    background-color: rgb(43, 43, 43);
    color: rgb(103, 211, 238);
    padding: 5px 5px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

.SetData-table a:hover, a:active {
    background-color: darkslateblue;
}

.SetData-table table, th, td {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    color: rgb(103, 211, 238);
}

.SetData-table {
    border-collapse: collapse;
}