.CardData-table {
    background-color: rgb(58, 58, 58);
}

.CardData-table a:link, a:visited {
    background-color: darkslategray;
    color: black;
    padding: 5px 5px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

.CardData-table a:hover, a:active {
    background-color: darkslateblue;
}

.CardData-table table, th, td {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}

.CardData-table {
    border-collapse: collapse;
}